.btn {
  display: flex;
  padding: 5px;
  img {
    width: 30px;
    height: 30px;
  }
  &--blue {
    background: #d9e8fc;
    border: 1px solid #9ab1d4;
  }
  &--red {
    background: #f7cfcc;
    border: 1px solid #c36763;
  }
  &--green {
    background: #d6e8d5;
    border: 1px solid #70AD47;
  }
  &--clear{
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 30px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
