#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  width: 400px;

  .input {
    height: 30px;
   width: 100%;
    border: 1px solid grey;
    padding: 5px 5px 5px 10px;
    color: black;
  }
}
