.addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    &+.addItem{
        .list {
            .item{ border-top: 1px solid transparent;}
        }
    }
}
.list {
    list-style:none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 400px;

    .item{
        width: 100%;
        height: 30px;
        background: white;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 10px;


        }


}